.landing {
	background: url("../../../public/images/bg.bmp");
	min-height: 100vh;
	text-align: center;
	padding-top: 20px;
}
.landing h1 {
	font-size: 100px;
}
.landing p {
	font-size: 30px;
	font-weight: 700;
}
/* .landing button {
	color: #000;
	width: 300px;
	height: 60px;
	border-radius: 25px;
	border: 0;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
} */
.landingMobile {
	width: 100%;
	position: relative;
	height: 550px;
	/* background-color: aqua; */
}
.mobile {
	/* position: absolute; */
}
.mobile img {
	width: 250px;
}
.mobile .img5 {
	position: absolute;
	/* right: 250px;
	bottom: -120px; */
	transform: translate(340%, 50%);

	z-index: -99;
}
.mobile .img4 {
	position: absolute;
	/* right: 410px;
	bottom: -60px; */
	transform: translate(280%, 30%);

	z-index: -1;
}
.mobile .img3 {
	position: absolute;

	transform: translate(220%, 10%);

	z-index: 10000;
}
.mobile .img2 {
	position: absolute;
	/* left: 330px;
	bottom: -60px; */
	transform: translate(150%, 30%);
	z-index: -1;
}
.mobile .img1 {
	position: absolute;
	transform: translate(90%, 50%);
	z-index: -1;
}
.pinklanding {
	height: 100vh;
	background: url("../../../public/images/pinkbg.webp");
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
}
.info {
	width: 55vw;
	padding-left: 60px;
}

.pinklanding .info h1 {
	line-height: 80px;
	font-size: 100px;
}
.pinklanding .info .pinkdetails {
	font-size: 20px;
}
.pinklanding .info .bp {
	font-size: 30px;
	font-weight: 700;
}
.brand {
	transform: translateY(-22px);
	height: 30vh;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.brand h5 {
	font-size: 20px;
	color: #212426;
}
.brandContainer {
	width: 70vw;
}
.brand img {
	padding-top: 10px;
	width: 100%;
}

.blueSection {
	background: url("../../../public/images/bluebg.webp");
	height: 100vh;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.blueSectionDiv {
	width: 65vw;
	height: 50vh;
}
.blueSectionDiv .heading {
	line-height: 90px;
	font-size: 90px;

	font-weight: 700;
}
.blueSectionDiv .subheading {
	/* line-height: 90px; */
	font-size: 30px;

	font-weight: 700;
}
.blueSectionDiv .details {
	/* line-height: 90px; */
	font-size: 18px;
	width: 70%;
	/* font-weight: 700; */
}
.button {
	margin-top: 30px;
}

.blueDogSection {
	background: url("../../../public/images/bluedog.webp");
	height: 100vh;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.blueDogSectionDiv {
	width: 65vw;
	height: 50vh;
}
.blueDogSectionDiv .heading {
	line-height: 90px;
	font-size: 90px;
	width: 50vw;
	font-weight: 700;
}
.blueDogSectionDiv .subheading {
	/* line-height: 90px; */
	font-size: 30px;

	font-weight: 700;
}
.blueDogSectionDiv .details {
	/* line-height: 90px; */
	font-size: 18px;
	width: 70%;
	/* font-weight: 700; */
}
.button {
	margin-top: 30px;
}
.greenSection {
	background-color: #017856;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.greenSection .green1heading {
	display: flex;
	height: 30%;
	/* background-color: #212426; */
	justify-content: center;
	align-items: flex-end;
	width: 50vw;
}
.greenSection .green1heading p {
	font-size: 30px;
	width: 30%;
	font-weight: 700;
	transform: translateY(50px);
}
.greenSection .green2heading {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	padding-right: 50px;
	width: 40vw;
}
