.color {
	color: #596aff;
}
.contact {
	display: flex;
	padding: 20px 40px;
}
.contact_us {
	width: 50%;
	margin-right: 20px;
}
hr {
}
.contact_form {
	width: 50%;
	margin-left: 20px;
}
.contact_us_ {
	/* font-size: 18px; */
	margin-left: 30px;
	border-bottom: 2px solid gray;
	/* width: fit-content; */
}
.contact_us_sub {
	font-weight: 600;
	font-size: 18px;
	padding-left: 30px;
}
.form_item {
	display: flex;
	margin-top: 20px;
	flex-direction: column;
}
select {
	background-color: inherit;
	border: 1px solid gray;
	border-radius: 2px;
}
.input {
	padding: 17px 30px;
	border-radius: 10px;
	border: 1px solid gray;
	margin-top: 10px;
}
button {
	background-color: #1f3e76;
	font-size: 18px;
	color: #fff;
	border: 0;
	border-radius: 30px;
	padding: 10px 30px;
	margin-top: 20px;
}
