.flex {
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 30px;
	background-color: inherit;
	/* position: fixed; */
	position: sticky;
	z-index: 10000;
	top: 0;
}
.nav {
	width: 50vw;
	display: flex;
	justify-content: space-between;
	text-shadow: 2px 2px 12px rgb(89, 106, 255);
}
.btn button {
	padding: 10px 40px;
	border-radius: 30px;
	font-size: medium;
	border: 0;
	background-color: #596aff;
	color: #fff;
	cursor: pointer;
}
.btn button:hover {
	color: black;
	background-color: whitesmoke;
}
.services {
	cursor: pointer;
	position: relative;
}
.services:hover > .dropDown {
	display: block;
}
.dropDown {
	width: max-content;
	position: absolute;
	display: none;
	margin-left: 20px;
}
