.sideBarContainer {
	/* display: none; */
	/* cursor: pointer; */
	transition: width 0.3s ease-in;
	/* width: 320px; */
	width: 320px;
	padding-left: 20px;
	min-height: 100vh;
	background-color: #fff;
	position: fixed;
	z-index: 1000000;
}

.cross {
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.sideBarContainer .navContent {
	margin: 100px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.sideBarContainer .navContent a,
li {
	cursor: pointer;
	font-size: 18px;
	height: 50px;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(232, 229, 229);
}
li {
	list-style: none;
}
.services {
	display: flex;
	flex-direction: column;
}
.services li {
	padding: 15px 0;
	margin-left: 30px;
}
.sideBarContainer .navContent a:hover,
li:hover {
	color: green;
}
