* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.dpimg {
	width: 140px;
	height: 180px;
}
.dpimg > img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.card {
	width: 90vw;
	height: 300px;
	background-color: burlywood;
	display: flex;
}
.cardDetails {
	padding-top: 10px;
	width: 50%;
	height: 100%;
}
.img {
	width: 50%;
	height: 100%;
}
.img > img {
	width: 100%;
	height: 100%;
}
.card > p {
	margin-top: 10px;
}
.DetailsPart {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.descDetailsPart {
	padding-top: 30px;
}
